# Ignore ArgoCD local file
application.yaml

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Logs
*.log

# Temp files
*.tmp

# Helm (optional cache)
*.tgz
# Kubernetes secrets / configs
*.secret.yaml
secrets.yaml
*.env

# Local kube config (never push this)
.kube/
kubeconfig

# Terraform (if used later)
.terraform/
*.tfstate
*.tfstate.backup

# Node / temp
node_modules/
tmp/
temp/
