# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# =========================
# Ansible
# =========================
*.retry

# =========================
# SSH Keys (VERY IMPORTANT)
# =========================
*.pem
*.key
id_rsa
id_rsa.pub

# =========================
# Kubernetes
# =========================
kubeconfig
.kube/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment Files
# =========================
.env
